@font-face {
  font-family: _default_logo;
  src: url("/fonts/_default_logo.otf") format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-gray-50;
}

img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
